@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  color: #2d3b87;
  text-decoration: none;
}
body, .app, .main {
  margin: 0 auto;
  height: 100%;
}
